:root {
  --color-primary: #ca3e47;
  --color-secondary: #f1d450;
  --color-dark: #15242d;
  --color-light: #f6f6f6;
  --color-1grey: #313131;
  --color-2grey: #414141;
  --color-3grey: #525252;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap');
body {
  background-color: var(--color-1grey);
  color: var(--color-light);
  margin: 0rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Lato', sans-serif;
  line-height: 1.3rem;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#offline {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  background: var(--color-secondary);
  color: var(--color-dark);
  font-weight: bold;
  padding: 4px 8px;
  transition: top .2s ease-in-out;
}

#offline.online {
  top: -2rem;
}

#wrapper {
  height: 100vh;
  max-width: 900px;
  background: var(--color-2grey);
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
  overflow: hidden;
}

#player {
  position: relative;
  overflow: hidden;
}

#player>.current {
  width: 100%;
  height: 3.7rem;
  background: var(--color-primary);
  transition: background .3s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: solid white 2px;
  transition-duration: 1s;
  transition-property: height,background;
}

#player.off>.current {
  background: var(--color-3grey);
  height: 0;
}

#player>.status {
  position: absolute;
  top: 48%;
  padding: .5rem;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

#nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 900px;
  width: 100%;
  margin: auto;
  border-top: 1px solid white;
}

#nav>.button {
  background: var(--color-3grey);
  width: 100%;
  color: var(--color-light);
  padding: 1rem .5rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#nav>.button.active {
  background-color: var(--color-primary);
  cursor: default;
}

#nav>.button:not(.active):hover {
  background-color: #93474C;
}

@media only screen and (max-width: 630px) {
  #nav>.button>.label {
    display: none;
  }
}

.albumart {
  background-size: cover;
  background-color: white;
}

a, a:visited {
  color: var(--color-light)
}

a:hover {
  color: var(--color-primary)
}

/* Track list */

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  overflow-x: hidden;
  background: inherit;
}

.list>.track, .current>.track {
  background: inherit;
  padding: .5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: border .1s ease-in-out;
}

.list>.track:hover {
  border-left: 4px solid white;
}

.list>.track:nth-child(odd) {
  background: var(--color-3grey);
  padding: .5rem;
}

.track>.icons {
  position: absolute;
  right: 0;
  padding: 1.3rem 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.2rem;
  text-shadow: 0px 0px 8px black;
}

.track>.icons>div {
  display: none;
  font-size: 1rem;
}

.track>.albumart {
  width: 2.6rem;
  height: 2.6rem;
  float: left;
  margin-right: .5rem;
}

.track>.artist {
  color: #bfbfbf;
}

/* Panes */

#panes {
  /* height: calc(100% - (3.6rem + 3.4rem)); */
  height: 100%;
  overflow-x: hidden;
  background: inherit;
  padding-bottom: 7rem;
  box-sizing: border-box;
}

.pane {
  display: none;
  background: inherit;
}

.pane.active {
  display: inherit;
}

/* History */

.pane.history>#previous>.track>.icons>.played {
  display: inherit;
}

/* Search */

.pane.search>.query {
  position: relative;
  padding: .5rem;
  border-bottom: 1px solid var(--color-light);
}

.pane.search>.query>.input {
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 1.5rem;
  background: var(--color-1grey);
  color: var(--color-light);
  padding: 5px 12px;
  height: 2.5rem;
}

.pane.search>.query>.input:focus {
  outline: none;
}

.pane.search>.query>.icons {
  background: var(--color-1grey);
  padding: .5rem;
  padding-right: 18px;
  text-align: right;
  margin-top: 8px;
  overflow: hidden;
}

.pane.search>.query>.icons>i {
  background: var(--color-light)08;
  padding: 12px 5px;
  margin: 1px 2px;
  cursor: pointer;
}

.pane.search>.query>.icons>i:hover {
  background: #93474C;
}

.pane.search>.query>.icons>i.active {
  background: var(--color-primary);
}

.icons>i.icon-search {
  background: var(--color-primary) !important;
  margin-left: .5rem !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.pane.search>.query>.icons>.info {
  float: left;
  color: #bfbfbf;
}

/* Preview */

.pane.preview {
  padding: 1rem;
}

.pane.preview>.albumart {
  float: left;
  margin: 0.5rem;
  margin-right: 1rem;
  height: 6rem;
  width: 6rem;
}

.pane.preview>.title {
  font-size: 1.3rem;
  margin: 8px 0px;
}

.pane.preview>.buttons {
  clear: both;
  font-size: 2rem;
  padding: .5rem 0;
  display: flex;
}

.pane.preview>.buttons>i {
  width: 100%;
  text-align: center;
  padding: .5rem 0;
  margin: 2px;
  cursor: pointer;
}

.pane.preview>.buttons.disabled>i.icon-flag, .pane.preview>.buttons.disabled>i.icon-thumbs-up, .pane.preview>.buttons.disabled>i.icon-thumbs-down {
  background: var(--color-3grey);
  color: var(--color-2grey);
  cursor: default;
}

.pane.preview>.buttons>i:hover {
  background: var(--color-1grey);
}

.pane.preview>.buttons>i.clicked {
  background: var(--color-primary);
}

.pane.preview>.params {
  user-select: text;
  width: 100%;
  border-top: solid white 1px;
}

.pane.preview>.params>thead {
  text-align: left;
}

.pane.preview>.params>tbody>tr.highlight {
  font-weight: bold;
  height: 2rem;
  vertical-align: bottom;
  text-decoration: underline;
}

.pane.preview>.params>tbody>tr.highlight::before {
  background: white;
  width: 100%;
}

/* Settings */

.pane.settings {
  padding: 1rem;
}

#profile {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid white;
}

#profilePic {
  height: 6rem;
  width: 6rem;
  background-size: cover;
  display: inline-block;
  border-radius: 6rem;
  background-color: var(--color-light);
}

#username {
  clear: both;
  display: block;
  font-size: 1.5rem;
}

.pane.settings>.params {
  width: 100%;
  border-bottom: 1px solid white;
}

.pane.settings>.params>thead {
  text-align: left;
}

.pane.settings>.actions {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

.pane.settings>.actions>div {
  background: var(--color-primary);
  color: var(--color-light);
  font-weight: bold;
  padding: .5rem;
  margin: 3px 0;
  cursor: pointer;
}

.pane.settings>.actions>div:hover {
  background: #93474C;
}

.pane.settings>.about {
  width: 100%;
  padding: 1rem 0;
}

.pane.settings>.about>.section {
  background: var(--color-3grey);
  padding: .3rem;
  margin: 3px 0;
}

.pane.settings>.about>.section>.value {
  float: right;
}

/* Chart */

.chart>.list {
  counter-reset: number;
}

.chart>.list>.track {
  counter-increment: number;
}

.chart>.list>.track>.icons>.votes {
  display: inherit;
}

.chart>.list>.track>.albumart {
  margin-left: 1.9rem;
}

.chart>.list>.track::before {
  content: counter(number)" ";
  position: absolute;
  left: .9rem;
  top: 1.25rem;
  font-size: 1rem;
}

.chart>.list>.track:nth-child(n+10)::before {
  left: .6rem;
}

.chart>.list>.track:nth-child(n+100)::before {
  left: .4rem;
}

/* Modals */

#modals {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

#modals>.modal {
  position: relative;
  background: var(--color-secondary);
  max-width: 800px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--color-1grey);
  -webkit-box-shadow: 0px 0px 60px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -8px rgba(0, 0, 0, 0.75);
  animation: .2s fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    transform: 1;
  }
}

#modals>.modal>i.icon-trash {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #ffffff99;
  cursor: pointer;
}

#modals>.modal>h1 {
  margin-top: 0px;
}

#modals>.modal>.buttons {
  text-align: right;
  margin-top: .5rem;
  display: flex;
}

#modals>.modal>.buttons>i {
  background: #ffffff99;
  width: 100%;
  margin: 0 .5rem;
  text-align: center;
  padding: .5rem;
  cursor: pointer;
}